/* STYLES GENERAUX */
// css lu de haut en bas, vérifier mes réglages, certainement un overide!!
*{
	font-family: Helvetica, Arial, sans-serif;
	margin: 0px;
	text-align: justify;
	box-sizing: border-box;
}
a{
	color: black;
}

p{
  font-size: 1em;
  line-height: 1.5em;
}

/* HEADER */
header{
	width: 100%;
	height: 40px;
}
.mon-compte{
  position: relative;
  margin-top: 5px;
}
.alert{
  position: absolute;
  margin-left: 40%;
  margin-top: -20px;
}
.messagerie{
  position: absolute;
  margin-left: 80%;
  margin-top: -20px;
}
button{
  border: 2px solid black;
}
.deconnexion{
  box-shadow: 5px 5px black;
  position: absolute;
  margin-left:90%;
  margin-top: -20px;
}
.id-entreprise{
  float: right;
  padding-bottom: 10px;
  margin-right: 20px;
}

/*Barre de navigation*/
.topnav{
	display: flex;
	width: 100%;
	box-shadow: 5px 5px darkgrey;
	overflow: hidden;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.topnav a{
	float: left;
  display: block;
  width: 100%;
	color: black;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
  border: 1px solid black;
}
.topnav a:hover{ /*change the link color to lightgrey on hover */
	background-color: lightgrey;
	color: white;
}
.topnav a.active{  /* I add an "active" class to the current link to let the user know on which page he's on*/
	background-color: skyblue;
	color: white;
}

/* SECTIONS */
section{
	display: flex;
  flex-flow: column wrap;
  justify-content: center;
	padding-bottom: 10px;
  padding-top: 20px;
	margin: 10px auto;
}

/* Tableau */
table{
  border: 1px solid black;
}
table, th,td{
	border-collapse: collapse; /*bordures fusionnées*/
}
th, td{
	padding: 5px;
	text-align: left;
}
th{
	background-color: #cccccc;
}
tr:nth-child(odd){
	background-color: #f2f2f2;
}

/* Urgent */
.urgent{
  border: 3px dashed black;
  border-radius: 10px;
  padding: 10px;
}

/* Messagerie */
.mail{
  border: 2px solid black;
  padding: 20px;
}

/* Contact Pro BTP */
.contact{
  border: 2px solid black;
  padding: 20px;
}
