/* css lu de haut en bas, vérifier mes réglages, certainement un overide!! */
/* Problème trouvé: le double slash en commentaire empêche des fonctionnalités */



/* STYLES GENERAUX */
*{
	font-family: Helvetica, Arial, sans-serif;
	margin: 0px;
	box-sizing: border-box;
}
h2{
  padding-bottom: 10px;
}
a{
	color: black;
  cursor: pointer;
}
p{
  font-size: 1em;
  line-height: 1.5em;
}

/* HEADER */
header{
	width: 100%;
	height: 40px;
}
.mon-compte{
  position: relative;
  margin-top: 5px;
}
.alert{
  position: absolute;
  margin-left: 40%;
  margin-top: -20px;
}
.messagerie{
  position: absolute;
  margin-left: 80%;
  margin-top: -20px;
}
button{
  border: 2px solid black;
}
.deconnexion{
  box-shadow: 5px 5px black;
  position: absolute;
  margin-left:90%;
  margin-top: -20px;
}
.id-entreprise{
  float: right;
  padding-bottom: 10px;
  margin-right: 20px;
}


/*Barre de navigation*/
.topnav{
	display: flex;
	width: 100%;
	box-shadow: 5px 5px darkgrey;
	overflow: hidden;
	list-style-type: none;
	margin: 0;
	padding: 0;
  cursor: pointer;
}
.topnav a{
	float: left;
  display: block;
  width: 100%;
	color: black;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
  border: 1px solid black;
}

.topnav a:hover{ /*change the link color to lightgrey on hover */
	background-color: lightgrey;
	color: white;
}
.topnav a.active{  /* I add an "active" class to the current link to let the user know on which page he's on*/
	background-color: skyblue;
	color: white;
}

/* Grand bloc qui englobe tout en dessous de la barre de navigation  */
.big-container{
  display: grid;
  width: 100%;
  grid-template-columns: 45% 45%;
  grid-column-gap: 20px;
  margin-top: 50px;
  justify-content: center;
}

/* Colonne de gauche */
.bloc-gauche{
  display: grid;
  grid-row-gap: 10px;;
}

/* Colonne de droite*/
.colonne-droite{
  display: grid;
  grid-row-gap: 10px;
}

/* Bloc Coordonnées */
.coordonnees{
  border: 2px solid black;
  padding: 10px;
}

/* Bloc Tableau */
.bloc-tableau{
  border: 2px solid black;
  padding: 10px;
}
table{
  border: 2px solid black;
  
}
table, th,td{
	border-collapse: collapse; /*bordures fusionnées*/
  border-right: 2px solid black;
}
th, td{
	padding: 5px;
	text-align: left;
}
th{
	background-color: #cccccc;
}
tr:nth-child(odd){
	background-color: #f2f2f2;
}

/* Bloc Urgent */
.bloc-urgent{
  display: grid;
  height: 90px;
  grid-template-columns: 10% 90%;
  grid-gap: 40px;
  border: 2px dashed black;
  border-radius: 10px;
  padding: 10px;
}

/* Bloc côte à côte : Messagerie + Contact Pro Btp */
.small-container{
  display: grid;
  grid-template-columns: 25% 75%;
  grid-gap: 20px;
}

/* Bloc Messagerie */
.inmail{
  border: 2px solid black;
  padding: 10px;
  text-align: center;
}

/* Bloc Contact Pro BTP */
.contact{
  border: 2px solid black;
  padding: 10px;
}
.contact h2{
  text-align: center;
}

/* Bloc Important */
.important{
  border: 2px solid black;
  padding: 20px;
}